{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" href="{% static 'users/images/fbazaar.png' %}" type="image/x-icon">
  <link rel="stylesheet" href="{% static 'users/css/home_style.css' %}">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <title>
    {% block title %}  {% endblock %}
  </title>
</head>
<body>

{% block content %}
<div class="main-container">

</div>
{% endblock %}
<script src="{% static 'users/js/jscode.js'%}"></script>

</body>
</html>