
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div class="container">
    <br>
    <div>
    <br>
    <h1 class="text-center mt-3 mb-3" style="text-align:center;">Order cleared</h1>
    <br>
    <p>Hi {{ username }}, your {{item_name}} order of {{quantity}} cartons has been cleared for processing and pickup. You will be notified when a driver is on their way. </p>
    <p>Thanks for working with us.</p>
        <br>
    <h3>The FBazaar Team</h3>
    </div>
</div>

</body>
</html>