
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>

<div class="container">
    <br>
    <div>
    <br>
    <h1>Order Picked Up</h1>
    <br>
    <p style="text-align:center;">Hi {{ username }}, your {{item_name}} order of {{quantity}} cartons has been picked up, and it's not its way to you. </p>
    <p>Thanks for your patience.</p>
        <br>
    <h3>The FBazaar Team</h3>
    </div>
    <br>
</div>
</body>
</html>