
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div class="container">
    <br>
    <div>
    <br>
    <h1>Greetings from FBazaar</h1>
    <br>
    <p class="lead animated bounce infinite">Hi {{ name }}</p>
    <p><b>{{OTP}}</b>.</p>
    <p>Enter the code above to continue your registration</p>
    <br>
    <div class="connect-team">
        <span class="mr-2">FBazaar Team</span>
    </div>
    </div>
    <br>
</div>
<br>

</body>
</html>

